tags
*.pyc
*.json
*.bak
*.DS_Store
.vagrant
*.bbl
*.brf
*.blg
*.aux
*.out
*.log
*.swp
*~
.idea
xrs/log/main
xrs/log/peer_1
xrs/log/peer_2
xrs/log/peer_3
xrs/bursts/2_1482750147_predicted
xrs/bursts/2_1482750267_predicted
xrs/bursts/2_1482754173_predicted
